
h1 {
    text-align: center;
    margin-bottom: 50px;
}

#calculator {
    background-color: rgb(134, 133, 133);
    border: solid black 5px;;
    display: flex;
    flex-direction: column;
    height: 380px;
    width: 250px;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: rgb(30, 30, 30) 3px 6px 15px;
}

#screen {
    background-color: rgb(238, 237, 237);
    height: 70px;
    width: 200px;
    border: solid black 3px;
    border-radius: 15px;
    margin: 5px;
    align-content: center;
    margin: auto;
    margin-top: 15px;
    text-align:right;
    padding-right: 20px;
    font-size:xx-large;
    font-family: sans-serif;
    overflow-x: auto;
}

#container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90%;
    

}

#numbers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    column-gap: 6px;
    align-items: center;
    width: 70%;
    height: 90%;
    padding-left: 8px;

}

#symbols {
    display: flex;
    flex-direction: column;
    justify-content:center;
    row-gap: 10px;
    padding-top: 6px;
    align-items:center;
    width: 30%;
    height: 90%;
    


}

.symbolButtons {
    display: flex;
    border: solid black 2px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    padding: 3px;
    background-color: rgb(242, 191, 4);
    color: rgb(31, 31, 31);
    font-size: x-large;
    font-family: sans-serif;
    box-shadow: rgb(30, 30, 30) 2px 3px 2px;
    user-select: none;
}

.numberButtons {
    display: flex;
    border: solid black 2px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    padding: 4px;
    background-color: rgb(68, 67, 67);
    color: rgb(230, 230, 230);
    font-size: x-large;
    font-family: sans-serif;
    box-shadow: rgb(30, 30, 30) 2px 3px 2px;
    user-select: none;
    
}

.symbolButtons:hover {
    background-color: lightgray;
    color: black;
}

.numberButtons:hover {
    background-color: lightgray;
    color: black;
}

#clear {
    font-size: large;
    height: 50px;
    width: 30px;
    border-radius: 20px;
}

#equals {
    height: 130px;
    width: 30px;
    border-radius: 20px;
}


#delete {
    font-size: medium;
    padding: 4px;
    background-color: rgb(220, 69, 69);
    color: rgb(230, 230, 230);
}

#delete:hover {
    background-color: lightgray;
    color: black;
}

#decimal:hover {
    background-color: lightgray;
    color: black;
}

#decimal {
    display: flex;
    border: solid black 2px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    padding: 4px;
    background-color: rgb(68, 67, 67);
    color: rgb(230, 230, 230);
    font-size: x-large;
    font-family: sans-serif;
    box-shadow: rgb(30, 30, 30) 2px 3px 2px;
}